#demo{
    display: grid;
    grid-template-columns: auto 60% auto;
    grid-template-areas: ". demo .";
    >div{
        height: 60vh;
        width: 60vw;
        grid-area: demo;
        display: flex;
        justify-content: center;
        align-items: center;

    }
}