#svg-container{
    display: grid;
    grid-template-columns: auto 80% auto;
    grid-template-areas: ". svg-container .";
    height: 100vh;

    @include md{
		grid-template-columns: auto 70% auto;
	}

	@include lg{
		grid-template-columns: auto 55% auto;
	}

    // @include xl {
    //     grid-template-columns: auto 1200px auto;
    // }

    >div{
        // border: 1px solid red;
        grid-area: svg-container;
        display: flex;
        // justify-content: center;
        align-items: center;

        svg {
            width: 100%;

        }

    }
}